nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding-block: 20px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-block: 8px;
    gap: 24px;
    flex-wrap: wrap;
}

nav ul li:last-child img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
}

nav ul li:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
